<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<script  data-main="/public/javascripts/main" src="/node_modules/requirejs/require.js"></script>-->
    <style type="text/css">
      body {
        padding-top: 70px;
      }
      .row a{
        display: block;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        line-height: 24px;
        background-color: #e1e1e1;
        color: #000;
        transition:.3s
      }
      .row a:hover{
        text-decoration: none;
        background:#ff4444;
        color: #fff;
      }
    </style>

  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="demos/1.html" target="_blank">1.控制div属性</a>
          <a href="demos/2.html" target="_blank">2.网页换肤</a>
          <a href="3.html" target="_blank">3.多标签页效果</a>
          <a href="4.html" target="_blank">4.传参数，改变属性</a>
          <a href="5.html" target="_blank">5.日历简易</a>
          <a href="6.html" target="_blank">6.读取数据形成列表</a>
          <a href="7.html" target="_blank">7.下拉菜单(鼠标+键盘)</a>
          <a href="8.html" target="_blank">8.鼠标移过，改变图片路径</a>
          <a href="9.html" target="_blank">9.复选框</a>
          <a href="10.html" target="_blank">10.向上无缝滚动(可控制)</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="demos/11.html" target="_blank">11.拖拽</a>
          <a href="12.html" target="_blank">12.动态下拉菜单</a>
          <a href="13.html" target="_blank">13.网页计算器</a>
          <a href="demos/14.html" target="_blank">14.时钟</a>
          <a href="demos/15.html" target="_blank">15.表格动态添加数据</a>
          <a href="16.html" target="_blank">16.用户登录</a>
          <a href="demos/17.html" target="_blank">17.模拟投票</a>
          <a href="18.html" target="_blank">18.表单验证</a>
          <a href="demos/19.html" target="_blank">19.验证码</a>
          <a href="20.html" target="_blank">20.导航效果</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="21.html" target="_blank">21.倒计时器</a>
          <a href="demos/22.html" target="_blank">22.体育板块导航</a>
          <a href="demos/23.html" target="_blank">23.轮播图(一)</a>
          <a href="24.html" target="_blank">24.轮播图(二)</a>
          <a href="25.html" target="_blank">25.轮播图(三)</a>
          <a href="26.html" target="_blank">26.新闻页面图片切换</a>
          <a href="27.html" target="_blank">27.放大镜效果</a>
          <a href="28.html" target="_blank">28.数组操作</a>
          <a href="29.html" target="_blank">29.城市空气质量</a>
          <a href="30.html" target="_blank">30.可视化图表排序</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="demos/31.html" target="_blank">31.字符匹配(正则样式)</a>
          <a href="32.html" target="_blank">32.二叉树遍历</a>
          <a href="33.html" target="_blank">33.买蛋糕换蛋糕</a>
          <a href="34.html" target="_blank">34.界面交互拖拽</a>
          <a href="35.html" target="_blank">35.积分榜排序</a>
          <a href="36.html" target="_blank">36.贪吃蛇（未完成）</a>
          <a href="37.html" target="_blank">37.canvas</a>
          <a href="aaasass/index.html" target="_blank">38.侧栏工具条</a>
          <a href="http://crlin.com/gallery-by-react/" target="_blank">39.图片画廊</a>
          <a href="http://crlin.com/react-gitUser-search/" target="_blank">40.github搜索项目</a>
        </div>
      </div>
    </div>
  </body>
</html>
